body,
html {
  display: grid;
  width: 100vw;
  height: 330vh;
  margin: 0px;
  padding: 0px;
  background-color: #000;
  scroll-behavior: smooth;
  font-family: 'Space Mono';
}

#email {
  font-size: 15px;
}

#container {
  display: grid;
  grid-template-rows: 100vh 100vh 100vh 30vh;
  grid-template-areas:
    'landing-page'
    'about'
    'projects'
    'contact';
  border: 0px;
}

#landing-page {
  grid-area: landing-page;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-bottom: 1px solid #4d4d4d;
}

#starfield > * {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  transform-origin: 50% 50%;

  background-image: radial-gradient(
      2px 2px at 40px 60px,
      #ccc,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(2px 2px at 20px 50px, #999999, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 30px 100px, #eee, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 40px 60px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 110px 90px, #ccc, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 190px 150px, #ddd, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-size: 200px 200px;

  -webkit-animation-name: starfieldRotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

#starfield > *:nth-child(1) {
  -webkit-animation-duration: 18s;
}
#starfield > *:nth-child(2) {
  -webkit-animation-duration: 22s;
}
#starfield > *:nth-child(3) {
  -webkit-animation-duration: 36s;
}
#starfield > *:nth-child(4) {
  -webkit-animation-duration: 40s;
}

@-webkit-keyframes starfieldRotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

#intro {
  text-align: center;
  color: white;
}

.cssanimation,
.cssanimation span {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.cssanimation span {
  display: inline-block;
}

.leRotateSkateInLeft span {
  animation-name: leRotateSkateInLeft;
}
@keyframes leRotateSkateInLeft {
  from {
    transform: scaleX(0.2) translateX(-100px);
    opacity: 0;
  }
}

.wording {
  margin: 10px;
}

.social {
  display: flex;
  width: 100%;
  height: 75px;
  justify-content: center;
  align-items: center;
}

.fab {
  font-family: 'Font Awesome 5 Brands';
}

a {
  cursor: pointer;
  margin: 5px;
  color: white;
  z-index: 1;
}

ul {
  position: relative;
  top: 30px;
  bottom: 0;
}

#nav {
  display: inline;
}

#about {
  grid-area: about;
  background-color: green;
}

#portfolio {
  grid-area: projects;
  background-color: blue;
}

#contact {
  grid-area: contact;
  background-color: red;
}
